.error {
    color: red;
    margin-left: 5px;
    border-color: red;
}

 /* input .error {
    color: black;
} */

#greetingContainer {
    margin: 0 auto;
}
.navbar {
    margin-bottom: 20px;
}
form { 
    margin: 0 auto; 
    width: 600px;
    }